<meta charset="UTF-8">
<script>

$(function(){
	$('#update').click(function(){
		$.ajax({
			url:"/standards/"+$("#standardId").val(),
			type:'PUT',
			data:JSON.stringify({name:$("#name").val(),year:$("#year").val(),area:$("#area").val(),property:$("#property").val()}),
			contentType: "application/json",
			dataType: 'json',
			success:function(data){
				var d = eval(data);
			    $('input[name=price]').each(function (i,n){
					$.post("/standardItems/update/"+d.id,{id:$('#id'+i).val(),price:$('#price'+i).val()},function(val){console.log(i+"   "+val);});
				});  
				alert("更新成功");
			},
			error:function(xhr, type){
				alert("保存失败");
			}
		})
	});
	
	
	//$("body").click(function(){alert($("#standardId").val());});
});




</script>

	<table class="table table-bordered table-sm" id="x">
		<thead class="thead-inverse">
			<tr>
				<th>名称</th>
				<th>年份</th>
				<th>地区</th>
			</tr>
		</thead> 
	   <tbody>
	     <tr>
	        <td><input type="text" id="name" name="name" value="{{pagePara.name}}"/>
	        	<input type="hidden" id="standardId" name="standardId" value="{{pagePara.id}}" />
	        </td>
	        <td><input type="text" id="year" name="year" value="{{pagePara.year}}"/>
				 <input type="hidden" id="property" name="property" value="{{pagePara.property}}" />	
	        </td>
	        <td>
	        	<select id="area" name="area">
		        <option value="1">甘肃</option>
		        <option value="2" >贵州</option>
		        <option value="3">河南</option>
		        <option value="4">江西</option>
		        <option value="5">辽宁</option>
		        <option value="6">宁夏</option>
		        <option value="7">陕西</option>
		        <option value="8">四川</option>
		        <option value="9">新疆</option>
		        <option value="10">浙江</option>
		        <option value="11">重庆</option>
	      	    </select>
	        </td>
	     </tr>
	   </tbody>
	  
    </table>
    
    <div align="center">
		<button type="button" class="btn btn-primary" type="button" id="update">保存</button>
		<button type="button" class="btn btn-success" name="backid" id="backid" ng-click="backMain();">返回列表</button>
	</div>
	
	<table class="table table-bordered table-sm" id="standardItem">
			<thead class="thead-inverse">
				<tr>
					<th>编号</th>
					<th>项目名称</th>
					<th>上级项目</th>
					<th>价格</th>
					<th>单价</th>
					<th>定价单位</th>
				</tr>
			</thead>
			<tr ng-repeat="p in pagePara.item">
					<td>{{p.item.no}}</td>
					<td>{{p.item.name}}</td>
					<td>{{p.item.parentName}}</td>
					<td><input id="price{{$index}}" name="price" value="{{p.price}}"/>
					 	<input type="hidden" name="id" id="id{{$index}}" value="{{p.id}}"/>
					 	
					<td>{{p.item.moneyType}}</td>
					<td>
						{{p.item.numeraire=='1'?'m³':''}}
						{{p.item.numeraire=='2'?'㎡':''}}
						{{p.item.numeraire=='3'?'m':''}}
						{{p.item.numeraire=='4'?'个':''}}
						{{p.item.numeraire=='5'?'根':''}}
						{{p.item.numeraire=='6'?'吨':''}}
					</td>
				</tr>
	 			
	</table>

