
<meta charset="UTF-8">
<script type="text/javascript">
$(function(){
	var pagePara = angular.element($("#mainCtrl")).scope().pagePara;
	$.get("/standards/get/items/" + pagePara,function(data){
		for(var i = 0; i < data.length; i++){
			data[i].item.parentName = data[i].item.parentName==null ? "" : data[i].item.parentName;
			data[i].price = data[i].price==null?"" :data[i].price;
			var tmp = "<tr>"+
							"<td>"+data[i].item.no +"</td>"+
							"<td>"+data[i].item.name+"</td>"+
							"<td>"+data[i].item.parentName+"</td>"+
							"<td>"+data[i].price+"</td>"+         
							"<td>"+data[i].item.moneyType+"</td>";
							if(data[i].item.numeraire == '1') {tmp += "<td>m³</td>";}else if
								(data[i].item.numeraire == '2'){tmp += "<td>㎡</td>";}else if
								(data[i].item.numeraire == '3'){tmp += "<td>m</td>"}else if
								(data[i].item.numeraire == '4'){tmp += "<td>个</td>"}else if
								(data[i].item.numeraire == '5'){tmp += "<td>根</td>"}else if
								(data[i].item.numeraire == '6'){tmp += "<td>吨</td>"}else {
												tmp = tmp+ "<td></td>" ;
							}
									
					  tmp += "</tr>";
			$("#standardItem").append($(tmp));
		}
	});
});



$(function(){
	var pagePara = angular.element($("#mainCtrl")).scope().pagePara;
	$.get("/standards/get/"+ pagePara,function(data1){
		//alert(data1[2].area);
		
		 for(var i = 0; i < data1.length; i++) {
			 var a =	
			 "<tr>"+
				"<td>"+data1[i].name+"</td>"+
				"<td>"+data1[i].year+"</td>"+
				"<td>"+data1[i].area+"</td>"+
			"</tr>";
				$("#x").append($(a));
		}
	}) 
});

</script>
</head>
<body>
	<table class="table table-bordered table-sm" id="x">
		<thead class="thead-inverse">
			<tr>
				<th>名称</th>
				<th>年份</th>
				<th>地区</th>
			</tr>
		</thead>
		
	  
    </table>
    
	<table class="table table-bordered table-sm" id="standardItem">
			<thead class="thead-inverse">
				<tr>
					<th>编号</th>
					<th>项目名称</th>
					<th>上级项目</th>
					<th>价格</th>
					<th>单价</th>
					<th>定价单位</th>
				</tr>
			</thead>
		
	 			
	</table>
	
	<div align="center">
		<button type="submit" class="btn btn-primary" type="button" >保存</button>
		<button type="button" class="btn btn-success" name="backid" id="backid" ng-click="backMain();">返回列表</button>
	</div>
