
<meta charset="UTF-8">
<script type="text/javascript">
function openPage(url,id){
	var scope = angular.element($("#mainCtrl")).scope();
	scope.goDetail(url,id);
	scope.$apply();
}
	$(function(){
		$.get("/standards",function(data){
			//alert(data[1].property);   //+'<a href="standard/edit.html">详情>>></a>'
			
			 for(var i = 0; i < data.length; i++){
				 data[i].property = data[i].property==null ? "" : data[i].property;
				var tmp = "<tr>"+
					"<td><a onclick=\"openPage('standard/edit.html',1)\" href='javascript:void(0);'>"+data[i].name+"</a></td>"+
					"<td>"+data[i].year+"</td>"+
					"<td>"+data[i].area+"</td>"+
					"<td>"+data[i].property+"</td>"+
					"</tr>";
					$("#dataTable").append($(tmp));
			}
		}) 
	});

	function edit(value){
		
		window.location.href='standard/edit.html/'
	}
	
</script>
</head>
<body>
	
  <table > 
  <tr>
       <td>名称：</td>
       <td><input type="text" name="pname" value=""/></td>
	
       <td>年份：</td>
       <td><input type="text" name="pname" value=""/></td>
	
       <td>地区：</td>
       <td><input type="text" name="pname" value=""/></td>
       
   </tr>
  </table> 
  <div align="center">
      <button type="submit" class="btn btn-primary" type="button">查询</button> 
      <button type="submit" class="btn btn-primary" type="button">清空</button> 
      <button type="button" class="btn btn-success" id="newNav" ng-click="goAdd('standard/add.html')">添加新标准</button>
  </div>
<table class="table table-bordered table-sm" id="dataTable">
	<thead class="thead-inverse">
		<tr>
			<th>名称</th>
			<th>年份</th>
			<th>地区</th>
			<th>项目性质</th>
		</tr>
	</thead>


<!-- 	<tr >
         	<td>2012北京标准</td>
            <td>2012</td>
            <td>北京</td>
            <td><button type="button" class="btn btn-success" id="newNav" ng-click="standard/edit.html">详情</button></td>
         </tr>
 -->
       <!--   <tr >
         	<td >2012陕西标准</td>
            <td>2012</td>
            <td>陕西</td>
            <td><a ng-click="goDetail('standard/edit.html/',2)"  href="javascript:void(0);">详情>>></a></td>
         </tr>   -->

        
</table>

