<meta charset="UTF-8">
<script type="text/javascript">

var expectTotal = 0;
var realTotal = 0;
$(function(){
	$('#save').click(function (){
		
		  
			<!--获取实际总额-->
			$("input[id*='realPrice']").each(function(i,n){
				
				var realPrice = $("#realPrice"+i).val();
				if(realPrice==null||realPrice==""){
					realPrice=0;
				} ;
				realTotal += realPrice*1;
			});	
			
			
		 //提交
			$.ajax({url:"/projects/add",
				type:'POST',
				data: JSON.stringify({name:$("#name").val(),accountDate:2016-01-07,userName:"小明",expectTotal:expectTotal,realTotal:realTotal}),
				contentType: "application/json",
				dataType: 'json',
				success:function(p){
				 var p = eval(p);
				    $("input[id*='amount']").each(function (i,n){
						$.post("/projectItems/add/"+p.id,
								{place:$('#place'+i).val(),
								length:$('#length'+i).val(),
								width:$('#width'+i).val(),
								height:$('#height'+i).val(),
								amount:$('#amount'+i).val(),
								price:$('#price'+i).val(),
								realPrice:$('#realPrice'+i).val(),
							//	reportedLoss:$('#reportedLoss'+i).val(),
								standardId:$('#standardId'+i).val(),
								itemId:$('#itemId'+i).val(),
								standardItemId:$('#standardItemId'+i).val(),
								remark:$('#remark'+i).val()});
					});  
				   
					 alert("ok！！");
				},
				error: function(xhr, type){
					alert("保存失败！");
				}
			
			});
		  
	});
});
		<!--下拉菜单查询-->
		$(document).ready(function() {
			$.ajax({
				url : "/standards",
				type : "get",
				dataType:"json",
				success : function(data) {
					var d= eval(data);
					$.each(d,function(i,n) {
		                $("#standard").append('<option value="' + n.id + '">' + n.name  +'</option>');
		            });
				}
			});
		
	<!--选择标准后 -->
	$('#standard').change(function (){
		  expectTotal = 0;
		   realTotal = 0;
		$("#tbodyId").html("");
		$.get("standards/get/"+$(this).val(),function(d){
			var x = new Date();
			var str = x.getFullYear()+"-"+(x.getMonth()+1)+"-"+x.getDate();
			//alert(str);
		
					for(var i = 0; i <d.standardItem.length ; i++){
						
							 d.standardItem[i].price = d.standardItem[i].price==null ? "" : d.standardItem[i].price;
							 var tmp = "<tr>" +
											"<td>"+d.standardItem[i].item.id+"</td>"+
											"<td><input type=\"text\" name=\"place\" value=\"\" id=\"place"+i+"\" style=\"width:100px\"/>"+
											"<td>"+d.standardItem[i].item.name+"</td>"+
											"<td>"+d.name+"</td>"+ 
											"<td><input type=\"text\" name=\"length\" value=\"\" id=\"length"+i+"\"  style=\"width:80px\"/>"+
											"<td><input type=\"text\" name=\"width\" value=\"\" id=\"width"+i+"\" style=\"width:80px\" />"+
											"<td><input type=\"text\" name=\"height\" value=\"\" id=\"height"+i+"\" style=\"width:80px\"/>"+
											"<td><input type=\"text\" name=\"amount\" value=\"\" id=\"amount"+i+"\" style=\"width:80px\"/></td>" +
											"<td><input type=\"text\" name=\"price\" value=\" "+d.standardItem[i].price+"\" id=\"price"+i+"\" style=\"width:100px\"/></td>" +
											"<td></td>" +
											"<td><input type=\"text\" name=\"realPrice\" value=\"\" id=\"realPrice"+i+"\" style=\"width:100px\"/>"+
												//"<input type=\"hidden\" name=\"reportedLoss\" value=\"\" id=\"reportedLoss"+i+"\"/>"+
												"<input type=\"hidden\" name=\"standardId\" value=\""+d.id+"\" id=\"standardId"+i+"\"/>"+
												"<input type=\"hidden\" name=\"itemId\" value=\""+d.standardItem[i].item.id+"\" id=\"itemId"+i+"\"/>"+
												"<input type=\"hidden\" name=\"accountDate\" value=\""+str+"\" id=\"accountDate"+i+"\"/>"+
												"<input type=\"hidden\" name=\"standardItemId\" value=\""+d.standardItem[i].id+"\" id=\"standardItemId"+i+"\"/></td>" +
											"<td><input type=\"text\" name=\"remark\" value=\"\" id=\"remark"+i+"\" />"+
									  "</tr>";
							$("#tbodyId").append($(tmp));  
						} ;
					
						<!--长*宽*高 获得数量-->
						$("input[id*='height']").each(function(i,n){
							 $(n).bind("blur",function(){
									var c = $("#amount"+i).val();
									if(c==null||c==""){
										c = 0;
									}
									
									<!--损失数量 -->
									$(n).parent().next().val(($(n).val()*1)*($('#length'+i).val()*1)*($('#width'+i).val()*1));
									
									var x = ($(n).val()*1)*($('#length'+i).val()*1)*($('#width'+i).val()*1);   
									$("#amount"+i).val(x);   
									
									
							}); 
						});
						<!---->
						$("input[id*='amount']").each(function(i,n){
							 $(n).bind("blur",function(){
									var unmulti = $("#reportedLoss"+i).val();
									if(unmulti==null||unmulti==""){
										unmulti = 0;
									}
									
									<!--报损金额 -->
									$(n).parent().next().next().html(($(n).val()*1)*($('#price'+i).val()*1));
									
									var multi = ($(n).val()*1)*($('#price'+i).val()*1);   
									//alert(multi);
									$("#reportedLoss"+i).val(multi);   
									<!--报损总额 -->
									if(multi!=null&&multi!=""){
										expectTotal += multi*1;    
										expectTotal -= unmulti;
										//console.log(expectTotal)
									};
									
							}); 
						});
						
					
						
		});
		
	});

});

</script>

<span id="msg"></span>
<table class="table table-bordered ">
  	<tr>
        <td>项目名称：</td>
        <td><input type="text" name="name" id="name"/></td>
        <!-- <td>年份：</td>
        <td><input type="text" name="year" id="year"/></td> -->
        <!-- <td>地区：</td>
        <td>
	     	<select id="area" name="area">
		        <option value="1">甘肃</option>
		        <option value="2">贵州</option>
		        <option value="3">河南</option>
		        <option value="4">江西</option>
		        <option value="5">辽宁</option>
		        <option value="6">宁夏</option>
		        <option value="7">陕西</option>
		        <option value="8">四川</option>
		        <option value="9">新疆</option>
		        <option value="10">浙江</option>
		        <option value="11">重庆</option>
	        </select>
	     </td> -->
	     <td>使用标准:</td>
	     <td>
	     	<select id="standard" name="standard">
		     	<option>请选择使用标准</option>
	     	</select>
	     	
	     </td>
    </tr>
</table>
	<table class="table table-condensed table-sm" id="d">
			<thead class="thead-inverse">
				<tr>
					<th>序号</th>
					<th>地点（桩号）</th>
					<th>损失项</th>
			        <th>使用标准</th>
			        <th>长</th>
			        <th>宽</th>
			        <th>高</th>
			        <th>损失数量</th>
			        <th>标准单价</th>
			        <th>报损金额</th>
			        <th>实际损失金额</th>
			        <th>备注</th>
				</tr>
			</thead>
			<input type="hidden" name="expectTotal" id="expectTotal"  value=""/>
			<input type="hidden" name="realTotal" id="realTotal"  value=""/>
	<tbody id="tbodyId">
		
		<!-- <tr ng-repeat="d in pagePara|limitTo:1" >
		  
			<td>{{d.item.item.name}}</td>
			<td>{{d.name}}</td>
			<td><input type="text" name="amount" value="" id="amount{{$index}}" /></td>
			<td>{{d.item.item.price}}</td>
			<td>参考金额</td>
			<td><input type="text" name="realPrice" value="" id="realPrice{{$index}}"/></td>
			
		</tr> -->
	</tbody>
	
	<div align="center">		
		<button type="submit" class="btn btn-primary" type="button" id="save">保存</button>
		<button type="button" class="btn btn-success" name="backid" id="backid" ng-click="backMain();">返回</button>
	</div>
</table>
<script>
	
</script>