<meta charset="UTF-8">
<script>

$(function(){
	$('#update').click(function(){
		$.ajax({
			url:"/projects/"+$("#projectId").val(),
			type:'PUT',
			data:JSON.stringify({name:$("#name").val()}),
			contentType: "application/json",
			dataType: 'json',
			success:function(data){
				var d = eval(data);
			    $('input[name=price]').each(function (i,n){
					$.post("/standardItems/update/"+d.id,{id:$('#id'+i).val(),price:$('#price'+i).val()},function(val){console.log(i+"   "+val);});
				});  
				alert("更新成功");
			},
			error:function(xhr, type){
				alert("保存失败");
			}
		})
	});
	
	
});

</script>
<table>
  	<tr>
        <td>公估项目名称:</td>
        <td><input type="text" name="name" value="{{pagePara.name}}"/></td>
    </tr>
    
</table> 
	<table class="table table-bordered table-sm" id="d">
			<thead class="thead-inverse">
			 <tr>
		        <th>损失项</th>
		        <th>使用标准</th>
		        <th>损失数量</th>
		        <th>标准单价</th>
		        <th>参考金额</th>
		        <th>实际损失金额</th>
		    </tr>
			</thead>
	<tr ng-repeat="p in pagePara.projectItem">
		<td>{{p.id}}</td>
		<td>{{p.name}}</td>
		<td><input id="amount{{$index}}" name="price" value="{{p.amount}}"/></td>
		<td>{{}}</td>	
		<td>{{p.item.moneyType}}</td>
		<td><input id="realPrice" name="price" value="{{p.realPrice}}"/></td>
	</tr>	
	 		
	</table>
	
	<div align="center">
		<button type="submit" class="btn btn-primary" type="button" >保存</button>
		<button type="button" class="btn btn-success" name="backid" id="backid" ng-click="backMain();">返回列表</button>
	</div>
