<meta charset="UTF-8">
<script>

$(function(){
	$('#update').click(function(){
		$.ajax({
			url:"/projects/"+$("#projectId").val(),
			type:'PUT',
			data:JSON.stringify({name:$("#name").val(),accountdate:$("#accountDate").val(),expectTotal:$("#expectTotal").val(),realTotal:$("#realTotal").val(),userName:$("#userName").val(),}),
			contentType: "application/json",
			dataType: 'json',
			success:function(data){
				
				alert("更新成功");
			},
			error:function(xhr, type){
				alert("保存失败");
			}
		})
	});
	
});

</script>
<table>
  	<tr>
        <td>公估项目名称:</td>
        <td>
        	<input type="text" id="name"  name="name"  value="{{pagePara.name}}"/>
        	<input type="hidden" id="projectId" name="projectId" value="{{pagePara.id}}"/>
        	<input type="hidden" id="accountDate" name="accountDate" value="{{pagePara.accountDate}}"/>
        	<input type="hidden" id="expectTotal" name="expectTotal" value="{{pagePara.expectTotal}}"/>
        	<input type="hidden" id="realTotal" name="realTotal" value="{{pagePara.realTotal}}"/>
        	<input type="hidden" id="userName" name="userName" value="{{pagePara.userName}}"/>
        </td>
    </tr>
    
</table> 
	<div align="center">
		<button type="submit" class="btn btn-primary" type="button" id="update">保存</button>
		<button type="button" class="btn btn-success" name="backid" id="backid" ng-click="backMain();">返回列表</button>
	</div>
	<table class="table table-bordered table-sm" id="d">
			<thead class="thead-inverse">
			 <tr>
		        <th>损失项</th>
		        <th>使用标准</th>
		        <th>损失数量</th>
		        <th>标准单价</th>
		        <th>参考金额</th>
		        <th>实际损失金额</th>
		    </tr>
			</thead>
<!-- 			
			<tr ng-repeat="p in pagePara.projectItem">
				<td>{{p.item.name}}</td>
				<td>{{p.standard.name}}</td>
				<td><input id="amount{{$index}}" name="amount" value="{{p.amount}}"/></td>
				<td>{{p.standard.price}}</td>	
				<td>{{p.amount*p.price}}</td>
				<td><input id="realPrice" name="realPrice" value="{{p.realPrice}}"/></td>
			</tr>	

	 		 -->
	</table>
<script>
	 $(function(){
		 $.get("/projectItems",function(data){
			//console.log(data);
			for(var i = 0; i<data.length; i++){
				data[i].standard.item[i].price = data[i].standard.item[i].price ==null?"":data[i].standard.item[i].price;
				data[i].realPrice = data[i].realPrice == null?"":data[i].realPrice;
				data[i].amount = data[i].amount == null?"":data[i].amount;
				var tmp = 
				"<tr>"
					+"<td>"+data[i].standard.item[i].item.name +"</td>"
					+"<td>"+data[i].standard.name+"</td>"
					+"<td>"+data[i].amount+"</td>"
					+"<td>"+data[i].standard.item[i].price+"</td>"
					+"<td>"+data[i].referencePrice+"</td>"
					+"<td>"+data[i].realPrice+"</td>"
				+"</tr>";
				$("#d").append(tmp);
			}
		}); 
	}); 
</script>
	
