<meta charset="UTF-8">
<table class="table table-bordered table-sm">
	<tr>
		<td>公估项目名称：</td>
		<td><input type="text" name="name" value="" /></td>

		<td>使用标准：</td>
		<td><input type="text" name="standard" value="" /></td>

		<td>地区：</td>
		<td><input type="text" name="area" value="" /></td>

	</tr>
</table>

<div align="center">
	<button type="submit" class="btn btn-primary" type="button">查询</button>
	<button type="submit" class="btn btn-primary" type="button">清空</button>
	<button type="button" class="btn btn-success" id="newNav" onclick="getData()">添加新标准</button>
</div>

<table class="table table-bordered table-sm" id="dataTable">
	<thead class="thead-inverse">
		<tr>
			<th>公估项目名称</th>
			<th>核算日期</th>
			<th>报损总额（元）</th>
			<th>实际损失总额（元）</th>
			<th>核算人员</th>
		</tr>
	</thead>

</table>

<script type="text/javascript">
	function openPage(url, id) {
		var scope = angular.element($("#mainCtrl")).scope();
		$.get("/projects/get/" + id, function(data) {
			scope.goDetail(url, data);
			scope.$apply();
		});
	}

 	function getData() {
		/* $.ajax({
			url : "/projects/getData",
			type : 'get',
			contentType : "application/json",
			dataType : 'json',
			success : function(data) {
				var scope = angular.element($("#mainCtrl")).scope()
				scope.goAdd('project/add.html', data);
				scope.$apply();
			},

			error : function(xhr, type) {
				alert("获取失败！");
			}

		}); */
		
		var scope = angular.element($("#mainCtrl")).scope()
		scope.goAdd('project/add.html', {});
		scope.$apply();
	} 

	$(function() {
		$.get("/projects", function(data) {
			//console.log(data);	
			for (var i = 0; i < data.length; i++) {
				var tmp = "<tr>"
						+ "<td><a onclick=\"openPage('project/edit.html',"+ data[i].id + ")\" href='javascript:void(0);'>"+ data[i].name + "</a></td>" 
						+ "<td>"+ data[i].accountDate + "</td>"
						+ "<td>" +data[i].expectTotal+"</td>"
						+ "<td>"+data[i].realTotal+ "</td>"
						+ "<td>"+ data[i].userName + "</td>"

				tmp += "</tr>";

				$("#dataTable").append($(tmp));
			}
		})
	});
</script>
