<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript">
	function getData() {
		/* $.ajax({
			url : "/projects/getData",
			type : 'get',
			contentType : "application/json",
			dataType : 'json',
			success : function(data) {
				var scope = angular.element($("#mainCtrl")).scope()
				scope.goAdd('project/add.html', data);
				scope.$apply();
			},

			error : function(xhr, type) {
				alert("获取失败！");
			}

		}); */
		
		var scope = angular.element($("#mainCtrl")).scope()
		scope.goAdd('project/add.html', {});
		scope.$apply();
	} 
</script>
<body>
<table class="table table-bordered table-sm">
	<tr>
		<td>oa项目名称：</td>
		<td><input type="text" name="name" value="" /></td>

		<td>xxx：</td>
		<td><input type="text" name="standard" value="" /></td>

		<td>yyy：</td>
		<td><input type="text" name="area" value="" /></td>

	</tr>
</table> 	

<div align="center">
	<button  class="btn btn-primary" type="button">查询</button>
	<button  class="btn btn-primary" type="button">清空</button>
	<button type="button" class="btn btn-success" id="newNav" onclick="getData()">确定</button>
</div>
<table class="table table-condensed table-sm" id="dataTable">
	<tr>
		<th>选择</th>
		<th>项目序号</th>
		<th>项目名称</th>
	</tr>
	
<!-- 	<td><input name="" type="checkbox" id="id" value="" class=""></td>
	<td>sdf</td>
	<td>afsdfa</td> -->
</table>
</body>
<script>
$(function() {
	$.get("/projects", function(data) {
		//console.log(data);	
		for (var i = 0; i < data.length; i++) {
			var tmp = "<tr>"
					+ "<td><input type="checkbox" id="checkbox" name="checkbox" /></td>" 
					+ "<td>"+data[i].id+ "</td>"
					+ "<td>"+ data[i].name + "</td>"

			tmp += "</tr>";

			$("#dataTable").append($(tmp));
		}
	})
});
</script>
</html>