/*h1, .h1, h2, .h2, h3, .h3, h4, .h4, .lead {
  font-family: "Helvetica Neue",Helvetica,Arial,"Hiragino Sans GB","Hiragino Sans GB W3","Microsoft YaHei UI","Microsoft YaHei","WenQuanYi Micro Hei",sans-serif;
}*/
body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { 
		font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;
}